
<img src="@Model["shadow"].GetImg()" alt="pic of @Model["shadow"].GetShadowName()">
<br>
<h2>@Model["shadow"].GetShadowName()</h2>
<br>
<h3>@Model["shadow"].GetIntro()</h3>
<br>
<h4>@Model["question"].GetQuestionName()</h4>
<br>
<form action="/first_question/result/@Model[shadow].GetId()" method="post">
<input type="hidden" name="shadow-id" value="@Model["shadow"].GetId()">
</select>
 <select name = "answer-id">
   @foreach(var answer in @Model["answers"])
   {
     <option value="@answer.GetId()">@answer.GetAnswerName()</option>
   }
 </select>
 <button type="submit">Submit</button>
</form>
