@{
  Layout="Shared/_Layout.cshtml";
}

  <body class="result">
    <img class="shadow" src="/result/@Model["shadow"].GetImg()" alt="@Model["shadow"].GetShadowName()">

    <h2 class="name first-letter-red">@Model["shadow"].GetShadowName()</h2>
    @if (@Model["answer"].GetAnswerType() == @Model["shadow"].GetShadowType())
    {
      <div class="speech">
        <h4 class="shadow-response">Your answer pleases me.</h4>
      </div>

      <form action="/second_question/ask" >
        <input type="hidden" class= "form-control" name="question-id" value="@Model["question1"].GetId()">
        <input type="hidden" class= "form-control" name="shadow-id" value="@Model["shadow"].GetId()">
        <button type="submit" name="button" id="result-reply">Ne<span class="inverse">X</span>t Q<span class="inverse">u</span>eSti<span class="inverse">O</span>n</button>
      </form>
    }
    else
    {
      <div class="speech">
        <h4 class="shadow-response">What?! That's a strange answer...</h4>
      </div>
      <a href="/" id="result-play">T<span class="inverse">R</span>y A<span class="inverse">G</span>ai<span class="inverse">N</span></a>
    }
    <audio src="../Content/music/last-surprise.mp3" autoplay>
    <embed src="../Content/music/last-surprise.mp3" width="180" height="90" hidden="true" />
    </audio>
  </body>
