<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:700" rel="stylesheet">
    <link rel="stylesheet" href="/ask/../Content/css/main.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body class="second-question">
    <img class="shadow" src="/ask/@Model["shadow"].GetImg()" alt="@Model["shadow"].GetShadowName()">
    <h2 class="name">@Model["shadow"].GetShadowName()</h2>
    <div class="speech">
      <h3 class="intro">@Model["shadow"].GetIntro()</h3>
      <h4 class="question">@Model["question"].GetQuestionName()</h4>
    </div>
    <form action="/second_question/result/@Model["shadow"].GetId()" method="post">
        @foreach(var answer in @Model["answers"])
        {
          @if(answer.GetAnswerType() == "gloomy")
          {
            <div class="radio gloomy">
              <label>
                <input class="@Model["answers"].GetType()" type="radio" name="answer-id" value="@answer.GetId()">@answer.GetAnswerName()
              </label>
            </div>
          }
          @if(answer.GetAnswerType() == "timid")
          {
            <div class="radio timid">
              <label>
                <input class="@Model["answers"].GetType()" type="radio" name="answer-id" value="@answer.GetId()">@answer.GetAnswerName()
              </label>
            </div>
          }
          @if(answer.GetAnswerType() == "irritable")
          {
            <div class="radio irritable">
              <label>
                <input class="@Model["answers"].GetType()" type="radio" name="answer-id" value="@answer.GetId()">@answer.GetAnswerName()
              </label>
            </div>
          }
          @if(answer.GetAnswerType() == "upbeat")
          {
            <div class="radio upbeat">
              <label>
                <input class="@Model["answers"].GetType()" type="radio" name="answer-id" value="@answer.GetId()">@answer.GetAnswerName()
              </label>
            </div>
          }
        }
      <button id="reply" type="submit" name="button">ReP<span class="inverse">L</span>y</button>
    </form>
  </body>
</html>




<!-- <form action="/second_question/result/@Model["shadow"].GetId()" method="post">
    @foreach(var answer in @Model["answers"])
    {
      <input type="radio" name="answer-id" value="@answer.GetId()">@answer.GetAnswerName()
    }
  </select> -->
