
<img src="@Model["shadow"].GetImg()" alt="pic of @Model["shadow"].GetShadowName()">

<h2>@Model["shadow"].GetShadowName()</h2>

@if (@Model["answer"].GetAnswerType() == @Model["shadow"].GetShadowType())
{
  <h4>You got me</h4>
  <a href="/capture/@Model["shadow"].GetId()">Victory</a>
}
else
{
  <h4>DIE!!!</h4>
  <a href="/">Try again</a>
}
